
.carousel .carousel-item>img {
    width: 230%;
    margin-left: -70%; 
}

body {
    background-color: #e0f2f1;
  }

.container {
    height: 550px;
    width: 100%;
    border: 2px solid red;
}
    